<p id="notice"><%= notice %></p>

<p>
  <strong>Mood:</strong>
  <%= @checkin.mood %>
</p>

<p>
  <strong>Is sober:</strong>
  <%= @checkin.is_sober %>
</p>

<p>
  <strong>Needs help:</strong>
  <%= @checkin.needs_help %>
</p>

<p>
  <strong>Content:</strong>
  <%= @checkin.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkin.user %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @checkin.is_private %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
